{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h2 class="my-0 font-weight-normal"> {{object|title}}</h2>
            {% if object.preview %}
            <img class="card-img-top" src="{{object.preview.url}}" alt="{{ object.name }}" width="200" height="200"/>
            {% else %}
            <img class="card-img-top" src="/media/product/unknown.jpeg" width="150" height="150" alt="unknown">
            {% endif %}
        </div>
        <div class="card-body">
            <div class="card-footer">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <p class="card-text">Категория: {{ object.category }}</p>
                    <li>Описание: {{object.description|title}}</li>
                    <br>
                    <li class="card-title pricing-card-title"> Цена: {{object.price|title}} руб.</li>
                    <li>Добавил продукт: {{object.user|default:'-'}}</li>
                    <li class="card-footer">
                        {% if object.active_version %}
                        Активная версия: {{ object.active_version.name }}
                        ({{ object.active_version.number }})
                        {% else %}
                        Нет активной версии
                        {% endif %}
                    </li>
                </ul>
                {% if object.user == user %}
                <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-success">Изменить</a>
                <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                   class="btn btn-danger">Удалить</a>
                <a href="{% url 'catalog:home' %}" type="button"
                   class="btn btn-sm btn-outline-success">Назад</a>
                {% if perms.catalog.set_published %}
                {% if object.is_published %}
                <a href="{% url 'catalog:product_unpublished' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-success">Снять с публикации</a>
                {% else %}
                <a href="{% url 'catalog:product_published' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-success">Опубликовать</a>
                {% endif %}
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-lg btn-outline-primary">Купить</button>
                <a href="{% url 'catalog:home' %}" type="button"
                   class="btn btn-sm btn-outline-success">Назад</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}